<p id="notice"><%= notice %></p>

<% id = params[:id] %>
<% e = Event.find(id) %>
<% u = User.find(e[:user_id]) %>

<table>
  <thead>
    <tr>
      <th colspan="2" align="left">Event "<%= e[:title] %>":</th>
    </tr>
  </thead>

  <tbody>
    <tr><td></td><td><img src="<%= e[:thumbnail] %>" alt="<%= e[:title] %>" class="event-view"></td></tr>
    <tr><td>Owner: </td><td> <%= u.firstName + " " + u.lastName %></td></tr>
    <tr><td>Title: </td><td> <%= e[:title] %></td></tr>
    <tr><td>Description: </td><td> <%= e[:description] %></td></tr>
    <tr><td>Location: </td><td> <%= e[:latitude] %>, <%= e[:longitude] %></td></tr>
    <tr><td>Date: </td><td> <%= e[:createdDate] %></td></tr>
  </tbody>
</table>
Photos of the event "<%= e[:title] %>":
<table border="1">
  <thead>
    <tr>
      <th colspan="2" align="left"></th>
      <th align="left">Title</th>
      <th align="left">Date</th>
      <th align="left">dist.</th>
    </tr>
  </thead>

  <tbody>
    <% i = 1 %>
    <% @photos.order(:id).each do |photo| %>
      <tr>
        <td><%= i %></td>
        <td><img src="<%= photo[:thumbnail] %>" alt="<%= photo[:title] %>" class="event-thumb"></td>
        <td><%= photo[:title] %></td>
        <td><%= photo[:createdDate] %></td>
        <td align="right"><%= distance(photo[:latitude],photo[:longitude],e[:latitude],e[:longitude]).round(0) %> m.</td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
#        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% i += 1 %>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
